.bag .bag_count, .admin_buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.product_card, .product_content, .order_table, .main_form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.products_container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body,
html,
h1 {
  font-family: 'OpenSans', sans-serif;
  margin: 0;
  padding: 0;
}

.top_container {
  width: 100%;
  background-color: #363636;
  height: 50px;
}

nav {
  width: 80%;
  height: 100%;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

nav .nav_punckt {
  text-decoration: none;
  font-size: 24px;
  padding: 0 10px;
  color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

nav .nav_punckt:hover {
  color: #B72E2E;
}

.bag {
  top: 60px;
  right: 60px;
  height: 62px;
  width: 62px;
  background-image: url(/img/bag-icon.png);
  background-size: cover;
  position: fixed;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  text-decoration: none;
}

.bag .bag_count {
  border-radius: 10px;
  height: 20px;
  width: 20px;
  font-size: 14px;
  color: white;
  background-color: #B72E2E;
}

.bag:hover {
  opacity: 0.7;
}

.products_container {
  width: 80%;
  margin: 100px auto;
  max-width: 1280px;
}

.product_card {
  max-width: 400px;
  margin: 20px;
}

.product_content {
  background-color: #363636;
  width: 100%;
  color: white;
  padding: 15px 0;
}

.product_image {
  height: 300px;
  width: 300px;
  background-size: cover;
}

.main_button {
  display: inline-block;
  padding: 5px 20px;
  background-color: #B72E2E;
  color: white;
  font-size: 20px;
  margin-top: 10px;
  border-radius: 10px;
  padding: 5px 30px;
  border: none;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.main_button:hover {
  cursor: pointer;
  opacity: 0.8;
}

.product_name {
  font-size: 24px;
  font-weight: 700;
}

.product_price {
  margin-top: 10px;
  font-size: 22px;
}

.bag_container {
  width: 100%;
  padding: 20px 0;
}

.bag_container h1 {
  text-align: center;
}

.order_table {
  width: 80%;
  margin: auto;
}

.order_punckt {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100px;
  background-color: #363636;
  color: white;
  font-size: 20px;
  margin: 20px 0;
  padding: 20px 150px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.order_punckt:hover {
  background-color: #B72E2E;
}

.order_punckt .el {
  width: 150px;
}

.order_punckt .img {
  height: 100px;
  width: 100px;
  background-size: cover;
}

.buttons_container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  width: 1000px;
  padding: 30px 0;
  margin: auto;
}

.admin_buttons {
  width: 80%;
  margin: auto;
}

.remove_marked {
  margin: 5px;
}

.addNewProduct {
  text-decoration: none;
  margin: 5px;
}

.main_form input {
  width: 200px;
  margin-bottom: 10px;
}

.main_form select {
  width: 200px;
  margin-bottom: 10px;
}

.main_form p {
  width: 200px;
}

.update_tovar {
  text-decoration: none;
}

.product_param {
  width: 200px;
  font-size: 16px;
  font-weight: 300;
}
/*# sourceMappingURL=style.css.map */